<!DOCTYPE html>
<html lang="en">
<head>
  	<title>QB Draft Analyst</title>
  	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Predictor</h1>
	<div class="navbar-fixed-bottom">Created by Kieran Halloran for CIS192 Final Project</div>
</body>
</html>