.navbar-fixed-bottom {
	background-color: #b3b3e6;
	text-align: center;
}

.navbar {
	background-color: #b3b3e6;
}

#result {
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.m-md {
	background-color: #ffffff;
}
